<!doctype html>
<html lang="en" ng-app="taskCalculator">
<head>
  <meta charset="UTF-8">
  <title>Anleo | TaskCalculator</title>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <meta name="author" content="Andrey Leontyev, skaliozz@gmail.com">
  <link rel="icon" type="image/png" href="favicon.png" />
</head>
<body ng-controller="taskCalculatorController">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Task Calculator <small class="text-muted"><small> | brought by angry SM</small></small></a>
    </div>
    </div>
  </nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div ng-if="!localUsername()">
        <h1>Init work</h1>

        <form ng-submit="addUser(username)">
          <label for="username">Enter your name</label>
          <input id="username" type="text" class="form-control" ng-model="username">
          <br>
          <button class="btn btn-sm btn-success">Add user</button>
        </form>
        <hr>
      </div>

      <div ng-if="localUsername()">
        <br>
        <button class="btn btn-sm btn-default" ng-click="resetCalculator();"> Reset calculator (delete user / tasks) </button>
        <hr>
      </div>

      <h1>{{editMode ? 'Edit task' :
        'Add task'}}
        <div class="pull-right">
          <small>Init time:</small>
          <input type="number" min="0" max="12" class="form-control" style="display: inline-block; width: 70px;"
                 placeholder="Time/h"
                 ng-model="initTime"></div>
      </h1>

      <form ng-submit="editMode ? update(task) : add(task)" class="form-inline">
        <div class="row">
          <div class="form-group col-sm-8">
            <label for="title" style="width: 100%">Title</label>
            <input id="title" type="text" class="form-control" style="width: 100%" placeholder="task" autocomplete="off"
                   ng-model="task.title">
          </div>
          <div class="form-group col-sm-2">
            <label for="points" style="width: 100%">Points</label>
            <input id="points" type="number" min="0" class="form-control" style="width: 100%" placeholder="points" autocomplete="off"
                   ng-model="task.points">
          </div>
          <div class="form-group col-sm-2">
            <label for="spent" style="width: 100%">Spent time, hours</label>
            <input id="spent" type="number" min="0" step="0.1" class="form-control" style="width: 100%" placeholder="spent" autocomplete="off"
                   ng-model="task.spent">
          </div>
          <div>&nbsp;</div>
          <div class="form-group col-sm-6" ng-if="editMode">
            <button type="submit" class="form-control btn btn-sm btn-warning" style="width: 100%;" ng-click="cancel()">Cancel
            </button>
          </div>
          <div class="form-group col-sm-12" ng-class="{'col-sm-6': editMode}">
            <button type="submit" class="form-control btn btn-sm btn-success" ng-class="{'btn-info': editMode}" style="width: 100%;">{{editMode ? 'Save' :
              'Add'}}
            </button>
          </div>
        </div>
      </form>
      <hr>
      <h3 ng-if="localUsername()"><strong>{{localUsername()}}</strong><div>&nbsp;</div></h3>
      <h4>Tasks:</h4>
      <ul class="list-group" style="width: 100%;">
        <li ng-repeat="task in tasks" class="list-group-item" ng-if="tasks && tasks.length">
          <div class="pull-left">
            <span class="text-danger">{{$index+1}}.</span> {{task.title}} &mdash; <span class="text-primary">({{task.points}}p / {{calcTaskTime(task)}}h)</span>
            <span ng-if="task.spent" class="text-success" ng-class="{'text-danger': task.spent > calcTaskTime(task)}">(spent: {{task.spent}}h)</span>
            <span ng-if="task.status" class="text-warning"><strong>({{task.status}})</strong></span>
          </div>
          <div class="pull-right">
            <div class="btn-group btn-group-xs unselectable">
              <button class="btn btn-xs btn-default unselectable"
                      ng-class="{'active': task.status && task.status === 'done'}" ng-click="done(task)"><i
                class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-xs btn-default unselectable"
                      ng-class="{'active': task.status && task.status === 'in progress'}" ng-click="progress(task)"><i
                class="glyphicon glyphicon-time"></i>
              </button>
              <button class="btn btn-xs btn-default unselectable"
                      ng-class="{'active': task.status && task.status === 'postponed'}" ng-click="postponed(task)"><i
                class="glyphicon glyphicon-remove"></i>
              </button>
            </div>
            <div class="btn-group btn-group-xs unselectable">
              <button class="btn btn-xs btn-success unselectable" ng-click="edit(task)"><i
                class="glyphicon glyphicon-edit"></i>
              </button>
              <button class="btn btn-xs btn-danger unselectable" ng-click="remove(task)"><i
                class="glyphicon glyphicon-trash"></i>
              </button>
            </div>
          </div>
          <div class="clearfix"></div>
        </li>
        <div class="panel panel-default text-center" ng-if="tasks && !tasks.length">
          No tasks yet
        </div>
      </ul>
      <div>&nbsp;</div>
      <hr>
      <p>

      <div ng-if="calcPoints()">Point cost: {{calcPoints()}}h</div>
      <div ng-if="totalPoints()">Total points: {{totalPoints()}}p</div>
      <div ng-if="approxTime()">Approx. planned time: {{approxTime()}}h</div>
      <div ng-if="spentTime()">Total spent time: {{spentTime()}}h</div>
      </p>
    </div>
  </div>
</div>

<style>
  body, html {
    margin: 0;
    padding: 0;
  }
  .navbar {
    border-radius: 0;
  }
  *.unselectable {
    -moz-user-select: -moz-none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-touch-callout: none; /* iOS Safari */
  }
</style>
</body>
</html>